.ltcAlertSuccess
{
  color:;
  background-color:;
  border-color:;
}
.ltcAlertInfo
{
    color:;
    background-color:;
    border-color:;
}
.ltcAlertWarning
{
    color:;
    background-color:;
    border-color:;
}
.ltcAlertDanger
{
    color:;
    background-color:;
    border-color:;
}
