.@{CPrefix}Groups,
.@{CPrefix}CWall,
.@{CPrefix}FormGroup,
.@{CPrefix}ButtonsGroup{
    .flexProperties(@fDir:row;@fWrap:wrap);
    .fixBoth{
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
/*clases especificas para grupos que tiene la posibilidad de dividirse en columnas*/
.@{CPrefix}CWall,
.@{CPrefix}FormGroup{
    >*{
        //padding:0 0 @CWall_p 0;
        flex:0 0 100%;
    }
}
.@{CPrefix}Groups{
    .FlexAlignItem;
    .@{CPrefix}Logo{
        height:100%;
        width: 10em;
        img,svg{
            width: 100%;
        }
    }
    &.dpl_v{
        .FlexDirec(column);
    }
}
@CW_separation:2%;
/*responsive*/
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .@{CPrefix}CWall,
    .@{CPrefix}FormGroup,
    .tp_iconBlock{
        >*{
            margin:0 @CW_separation @CW_separation 0;
            flex:0 0 100%;
        }
        /*crea las clases para dividir en N numer de columnas*/
        .generate-columns(10);

        .generate-columns(@n, @i: 1) when (@i =< @n) {
            &.CNumber_@{i} {
                >*{
                    flex:0 0 (100/@i)-((@CW_separation/@i)*(@i - 1));
                    &:nth-child(@{i}n){
                        margin-right: 0;
                    }
                }
            }
            .generate-columns(@n, (@i + 1));
        }
    }
}
@media (min-width: 1200px) {
}
