/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : Jun 29, 2016, 3:09:59 PM
Author     : jaime
*/
/*define el estilo de los formularios*/
@frmcolor:rgba(0, 0, 0, 0.1);
@frmborder:3px;
@frmpadding: 0.25rem 0.5rem;
@frminput:;
@frmtextarea:;
@frmcheckbox:;
@frmradio:;
@frmselect:;

input[type="checkbox"]{
    position: relative;
    &:before{

    }
}
.@{CPrefix}FormItem{
    .flexProperties(@fDis:flex;@fDir:row);
    input,
    select,
    textarea{
        flex: 1;
        //tiene que ser Movido a un tema
        /*background-color: rgba(0, 0, 0, 0.07);*/
        // border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .ltcMultiselect{
        position: relative;
        .MSOptions{
            position: absolute;
            padding: 1em;
            top: 100%;
            left: 0;
            margin-top: 3px;
            background-color: #fff;
            -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.3);
            box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.3);
            .animated;
            z-index: 3;
        }
    }
    input[type="radio"],
    input[type="checkbox"]{
        display: none;
    }
    &.dpl_block{
        .flexDisplay;
    }
    &.dpl_v{
        .FlexDirec(column);
        //.FlexAlignItem(stretch);
    }
    .tp_buttonMix,
    .tp_radio,
    .tp_radio_grid,
    .tp_check{
        flex: 1;
        .flexProperties(@fDir:row;@fAlignItem:stretch);
    }
    .tp_buttonMix{
        //border: 1px solid rgba(0,0,0,0.2);

        .@{CPrefix}InputComplement{

            padding: 0 1em;

            .flexProperties(@fDir:row;@fAlignItem:center);
            &:first-child{
                border: none;
            }
        }
        input{
            border-bottom: none;
            border-top: none;
            border-right: none;
            border-left: 1px solid rgba(0,0,0,0.2);
            &:first-child{
                border: none;
            }
        }
        button{
            //    background-color: #ccc;
            border: none;
            cursor: pointer;
        }

    }
    .tp_radio,
    .tp_radio_grid,
    .tp_check{
        label{
            .flexProperties(@fDir:row;@fAlignItem:center);
            background-color: rgba(0,0,0,0.1);
            padding: 0 1rem/2;
            height: 1.5rem;
            cursor: pointer;
            &:nth-of-type(1){
                margin-left: 0;
            }
            &::before{
                content: "";
                display: inline-block;
                height: 1em;
                width: 1em;
                border: 2px solid rgba(0,0,0,.4);
                margin-right: 5px;
                border-radius: 50%;
                .animation;
            }
        }
    }
    .tp_radio,
    .tp_radio_grid{
        label{
            &::before{
                border-radius: 50%;
            }
        }
        input[type="radio"]:checked+label{
            &::before{
                background-color: @c_lemon_green;
            }
        }
    }
    .tp_check{
        label{
            &::before{
                border-radius: 3px;
            }
        }
        input[type="checkbox"]:checked+label{
            &::before{
                background-color: @c_orange;
            }
        }
    }
    .tp_radio_grid{
        &.FIColum_2{
            .Flexwrapg;
            label{
                flex:0 0 100%/2;
            }
        }
        &.FIColum_3{
            .Flexwrapg;
            label{
                flex:0 0 100%/3;
            }
        }
    }
}
.@{CPrefix}FormGroup{
    //padding:0 0 @CWall_p @CWall_p;
    /*posibilidta aceptar elementos diferentes a ltcFormItem sin desajustar el diseño*/
    >*:not(.@{CPrefix}FormItem){
        .flexProperties(@fDis:flex);
        .@{CPrefix}FormItem{
            padding:0;
        }
    }
    .@{CPrefix}FormItem,
    >*{
        margin-bottom: 1em;
        // padding:@CWall_p @CWall_p 0 0;
        // flex:0 0 100%;
    }
    &.dpl_v{
        >.@{CPrefix}FormItem,
        >*{
            .FlexDirec(column);
            .FlexAlignItem(stretch);
        }
    }
}
.@{CPrefix}FormWrap{

}
/*responsive*/
@media (min-width: 768px) {
    .@{CPrefix}FormItem{
        //.flexDisplay(inline-flex);
    }
    .@{CPrefix}FormGroup{
        .FlexAlignItem(flex-end);
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
