/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 29, 2016, 3:09:59 PM
    Author     : jaime
*/
input[type="checkbox"]{
    position: relative;
    &:before{

    }
}
.ltcFormItem{
    .flexProperties(@fDis:flex;@fDir:row);
    input,
    select,
    textarea{
        flex: 1;
    //tiene que ser Movido a un tema
    /*background-color: rgba(0, 0, 0, 0.07);*/
    // border: 1px solid rgba(0, 0, 0, 0.1);
    }
    label,
    ltcLabel{
    }
    &.dpl_block{
        .flexDisplay;
    }
    &.dpl_v{
        .ltcFlexDirec(column);
        .ltcFlexAlignItem(stretch);
    }
    .tp_buttonMix{
        //border: 1px solid rgba(0,0,0,0.2);
        flex: 1;
        .flexProperties(@fDir:row;@fAlignItem:stretch);
        .ltcInputComplement{
            
            padding: 0 1em;

            .flexProperties(@fDir:row;@fAlignItem:center);
            &:first-child{
                border: none;
            }
        }
        input{
            border-bottom: none;
            border-top: none;
            border-right: none;
            border-left: 1px solid rgba(0,0,0,0.2);
            &:first-child{
                border: none;
            }
        }
        button{
        //    background-color: #ccc;
            border: none;
            cursor: pointer;
        }

    }
}
.ltcFormgrup{
    .flexProperties(@fDir:row;@fWrap:wrap;@fAlignCont:flex-end;@fAlignItem:flex-end);
    padding:0 0 @CWall_p @CWall_p;
    .ltcFormItem{
        padding:@CWall_p @CWall_p 0 0;
        flex:0 0 100%;
    }
    &.dpl_v{
        .ltcFormItem{
            .ltcFlexDirec(column);
            .ltcFlexAlignItem(stretch);
        }
    }
    // &.FGColum_1{
    //     .ltcFormItem{
    //         flex:0 0 100%;
    //     }
    // }
    &.FGColum_2{
        .ltcFormItem{
            flex:0 0 100%/2;
        }
    }
    &.FGColum_3{
        .ltcFormItem{
            flex:0 0 100%/3;
        }
    }
}
.ltcFormWrap{

}
/*responsive*/
@media (min-width: 768px) {
    .ltcFormItem{
        .flexDisplay(inline-flex);
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
