/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 29, 2016, 3:09:59 PM
    Author     : jaime
*/
input[type="checkbox"]{
    position: relative;
    &:before{

    }
}
.ltcFormItem{
    .flexProperties(@fDis:inline-flex;@fDir:row);
    input,
    select,
    textarea{
        flex: 1;
    //tiene que ser Movido a un tema
    /*background-color: rgba(0, 0, 0, 0.07);*/
    // border: 1px solid rgba(0, 0, 0, 0.1);
    }
    label,
    ltcLabel{
    }
    &.dpl_block{
        .flexDisplay;
    }
    &.dpl_v{
        .ltcFlexDirec(column);
        .ltcFlexAlignItem(stretch);
    }
    .tp_buttonMix{
        //border: 1px solid rgba(0,0,0,0.2);

        .flexProperties(@fDir:row;@fAlignItem:stretch);
        .ltcInputComplement{
            border-left: 1px solid rgba(0,0,0,0.2);
            padding: 0 1em;

            .flexProperties(@fDir:row;@fAlignItem:center);
            &:first-child{
                border: none;
            }
        }
        input{
            border-bottom: none;
            border-top: none;
            border-right: none;
            border-left: 1px solid rgba(0,0,0,0.2);
            &:first-child{
                border: none;
            }
        }
        button{
        //    background-color: #ccc;
            border: none;
            cursor: pointer;
        }

    }
}
.ltcFormgrup{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    &.dpl_v{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
.ltcFormWrap{

}
