/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 28, 2016, 3:57:12 PM
    Author     : jaime
*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?gwofqs');
    src:    url('../fonts/icomoon.eot?gwofqs#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?gwofqs') format('truetype'),
        url('../fonts/icomoon.woff?gwofqs') format('woff'),
        url('../fonts/icomoon.svg?gwofqs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ltcIcon"],
[class*="ltcIcon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-decoration: none !important;
}
.ltcIcon-home3:before {
  content: "\e902";
}
.ltcIcon-office:before {
  content: "\e903";
}
.ltcIcon-newspaper:before {
  content: "\e904";
}
.ltcIcon-pencil:before {
  content: "\e905";
}
.ltcIcon-quill:before {
  content: "\e907";
}
.ltcIcon-pen:before {
  content: "\e908";
}
.ltcIcon-blog:before {
  content: "\e909";
}
.ltcIcon-eyedropper:before {
  content: "\e90a";
}
.ltcIcon-droplet:before {
  content: "\e90b";
}
.ltcIcon-paint-format:before {
  content: "\e90c";
}
.ltcIcon-image:before {
  content: "\e90d";
}
.ltcIcon-images:before {
  content: "\e90e";
}
.ltcIcon-camera:before {
  content: "\e90f";
}
.ltcIcon-headphones:before {
  content: "\e910";
}
.ltcIcon-music:before {
  content: "\e911";
}
.ltcIcon-video-camera:before {
  content: "\e914";
}
.ltcIcon-dice:before {
  content: "\e915";
}
.ltcIcon-pacman:before {
  content: "\e916";
}
.ltcIcon-spades:before {
  content: "\e917";
}
.ltcIcon-clubs:before {
  content: "\e918";
}
.ltcIcon-diamonds:before {
  content: "\e919";
}
.ltcIcon-bullhorn:before {
  content: "\e91a";
}
.ltcIcon-connection:before {
  content: "\e91b";
}
.ltcIcon-mic:before {
  content: "\e91e";
}
.ltcIcon-books:before {
  content: "\e920";
}
.ltcIcon-library:before {
  content: "\e921";
}
.ltcIcon-file-text:before {
  content: "\e922";
}
.ltcIcon-profile:before {
  content: "\e923";
}
.ltcIcon-file-empty:before {
  content: "\e924";
}
.ltcIcon-file-text2:before {
  content: "\e926";
}
.ltcIcon-file-picture:before {
  content: "\e927";
}
.ltcIcon-file-music:before {
  content: "\e928";
}
.ltcIcon-file-video:before {
  content: "\e92a";
}
.ltcIcon-file-zip:before {
  content: "\e92b";
}
.ltcIcon-copy:before {
  content: "\e92c";
}
.ltcIcon-paste:before {
  content: "\e92d";
}
.ltcIcon-folder:before {
  content: "\71";
}
.ltcIcon-folder-open:before {
  content: "\77";
}
.ltcIcon-folder-plus:before {
  content: "\e931";
}
.ltcIcon-folder-minus:before {
  content: "\e932";
}
.ltcIcon-folder-download:before {
  content: "\e933";
}
.ltcIcon-folder-upload:before {
  content: "\e934";
}
.ltcIcon-price-tag:before {
  content: "\e935";
}
.ltcIcon-barcode:before {
  content: "\e937";
}
.ltcIcon-qrcode:before {
  content: "\e938";
}
.ltcIcon-ticket:before {
  content: "\e939";
}
.ltcIcon-cart:before {
  content: "\e93a";
}
.ltcIcon-coin-dollar:before {
  content: "\e93b";
}
.ltcIcon-coin-euro:before {
  content: "\e93c";
}
.ltcIcon-coin-pound:before {
  content: "\e93d";
}
.ltcIcon-coin-yen:before {
  content: "\e93e";
}
.ltcIcon-credit-card:before {
  content: "\e93f";
}
.ltcIcon-calculator:before {
  content: "\e940";
}
.ltcIcon-lifebuoy:before {
  content: "\e941";
}
.ltcIcon-phone:before {
  content: "\e942";
}
.ltcIcon-address-book:before {
  content: "\e944";
}
.ltcIcon-envelop:before {
  content: "\e945";
}
.ltcIcon-pushpin:before {
  content: "\e946";
}
.ltcIcon-location:before {
  content: "\e947";
}
.ltcIcon-location2:before {
  content: "\e948";
}
.ltcIcon-compass:before {
  content: "\e949";
}
.ltcIcon-map:before {
  content: "\e94b";
}
.ltcIcon-map2:before {
  content: "\e94c";
}
.ltcIcon-history:before {
  content: "\e94d";
}
.ltcIcon-clock:before {
  content: "\e94e";
}
.ltcIcon-clock2:before {
  content: "\e94f";
}
.ltcIcon-alarm:before {
  content: "\e950";
}
.ltcIcon-bell:before {
  content: "\e951";
}
.ltcIcon-stopwatch:before {
  content: "\e952";
}
.ltcIcon-calendar:before {
  content: "\e953";
}
.ltcIcon-printer:before {
  content: "\e954";
}
.ltcIcon-keyboard:before {
  content: "\e955";
}
.ltcIcon-display:before {
  content: "\e956";
}
.ltcIcon-laptop:before {
  content: "\e957";
}
.ltcIcon-mobile:before {
  content: "\e958";
}
.ltcIcon-tablet:before {
  content: "\e95a";
}
.ltcIcon-tv:before {
  content: "\e95b";
}
.ltcIcon-drawer:before {
  content: "\e95c";
}
.ltcIcon-drawer2:before {
  content: "\e95d";
}
.ltcIcon-box-add:before {
  content: "\e95e";
}
.ltcIcon-box-remove:before {
  content: "\e95f";
}
.ltcIcon-floppy-disk:before {
  content: "\e962";
}
.ltcIcon-drive:before {
  content: "\e963";
}
.ltcIcon-database:before {
  content: "\e964";
}
.ltcIcon-undo:before {
  content: "\e965";
}
.ltcIcon-redo:before {
  content: "\e966";
}
.ltcIcon-undo2:before {
  content: "\e967";
}
.ltcIcon-redo2:before {
  content: "\e968";
}
.ltcIcon-forward:before {
  content: "\e969";
}
.ltcIcon-reply:before {
  content: "\e96a";
}
.ltcIcon-bubble:before {
  content: "\e96b";
}
.ltcIcon-bubbles:before {
  content: "\e96c";
}
.ltcIcon-bubbles2:before {
  content: "\e96d";
}
.ltcIcon-user:before {
  content: "\e971";
}
.ltcIcon-users:before {
  content: "\e972";
}
.ltcIcon-user-plus:before {
  content: "\e973";
}
.ltcIcon-user-minus:before {
  content: "\e974";
}
.ltcIcon-user-check:before {
  content: "\e975";
}
.ltcIcon-user-tie:before {
  content: "\e976";
}
.ltcIcon-quotes-left:before {
  content: "\e977";
}
.ltcIcon-quotes-right:before {
  content: "\e978";
}
.ltcIcon-spinner:before {
  content: "\e97a";
}
.ltcIcon-spinner2:before {
  content: "\e97b";
}
.ltcIcon-spinner3:before {
  content: "\e97c";
}
.ltcIcon-spinner4:before {
  content: "\e97d";
}
.ltcIcon-spinner5:before {
  content: "\e97e";
}
.ltcIcon-spinner6:before {
  content: "\e97f";
}
.ltcIcon-spinner7:before {
  content: "\e980";
}
.ltcIcon-spinner8:before {
  content: "\e981";
}
.ltcIcon-spinner9:before {
  content: "\e982";
}
.ltcIcon-spinner10:before {
  content: "\e983";
}
.ltcIcon-spinner11:before {
  content: "\e984";
}
.ltcIcon-search:before {
  content: "\e986";
}
.ltcIcon-zoom-in:before {
  content: "\e987";
}
.ltcIcon-zoom-out:before {
  content: "\e988";
}
.ltcIcon-enlarge:before {
  content: "\e989";
}
.ltcIcon-shrink:before {
  content: "\e98a";
}
.ltcIcon-enlarge2:before {
  content: "\e98b";
}
.ltcIcon-shrink2:before {
  content: "\e98c";
}
.ltcIcon-key:before {
  content: "\e98d";
}
.ltcIcon-lock:before {
  content: "\e98f";
}
.ltcIcon-unlocked:before {
  content: "\e990";
}
.ltcIcon-wrench:before {
  content: "\e991";
}
.ltcIcon-equalizer:before {
  content: "\e992";
}
.ltcIcon-equalizer2:before {
  content: "\e993";
}
.ltcIcon-cog:before {
  content: "\e994";
}
.ltcIcon-cogs:before {
  content: "\e995";
}
.ltcIcon-hammer:before {
  content: "\e996";
}
.ltcIcon-magic-wand:before {
  content: "\e997";
}
.ltcIcon-aid-kit:before {
  content: "\e998";
}
.ltcIcon-bug:before {
  content: "\e999";
}
.ltcIcon-pie-chart:before {
  content: "\e99a";
}
.ltcIcon-stats-dots:before {
  content: "\e99b";
}
.ltcIcon-stats-bars:before {
  content: "\e99c";
}
.ltcIcon-stats-bars2:before {
  content: "\e99d";
}
.ltcIcon-trophy:before {
  content: "\e99e";
}
.ltcIcon-glass:before {
  content: "\e9a0";
}
.ltcIcon-mug:before {
  content: "\e9a2";
}
.ltcIcon-spoon-knife:before {
  content: "\e9a3";
}
.ltcIcon-leaf:before {
  content: "\e9a4";
}
.ltcIcon-rocket:before {
  content: "\e9a5";
}
.ltcIcon-meter:before {
  content: "\e9a6";
}
.ltcIcon-meter2:before {
  content: "\e9a7";
}
.ltcIcon-hammer2:before {
  content: "\e9a8";
}
.ltcIcon-fire:before {
  content: "\e9a9";
}
.ltcIcon-lab:before {
  content: "\e9aa";
}
.ltcIcon-magnet:before {
  content: "\e9ab";
}
.ltcIcon-bin2:before {
  content: "\e9ad";
}
.ltcIcon-briefcase:before {
  content: "\e9ae";
}
.ltcIcon-airplane:before {
  content: "\e9af";
}
.ltcIcon-truck:before {
  content: "\e9b0";
}
.ltcIcon-road:before {
  content: "\e9b1";
}
.ltcIcon-accessibility:before {
  content: "\e9b2";
}
.ltcIcon-target:before {
  content: "\e9b3";
}
.ltcIcon-shield:before {
  content: "\e9b4";
}
.ltcIcon-power:before {
  content: "\e9b5";
}
.ltcIcon-switch:before {
  content: "\e9b6";
}
.ltcIcon-power-cord:before {
  content: "\e9b7";
}
.ltcIcon-clipboard:before {
  content: "\e9b8";
}
.ltcIcon-list-numbered:before {
  content: "\e9b9";
}
.ltcIcon-list:before {
  content: "\e9ba";
}
.ltcIcon-list2:before {
  content: "\e9bb";
}
.ltcIcon-tree:before {
  content: "\e9bc";
}
.ltcIcon-menu:before {
  content: "\e9bd";
}
.ltcIcon-menu2:before {
  content: "\e9be";
}
.ltcIcon-menu3:before {
  content: "\e9bf";
}
.ltcIcon-menu4:before {
  content: "\e9c0";
}
.ltcIcon-cloud:before {
  content: "\e9c1";
}
.ltcIcon-cloud-download:before {
  content: "\e9c2";
}
.ltcIcon-cloud-upload:before {
  content: "\e9c3";
}
.ltcIcon-cloud-check:before {
  content: "\e9c4";
}
.ltcIcon-download2:before {
  content: "\e9c5";
}
.ltcIcon-upload2:before {
  content: "\e9c6";
}
.ltcIcon-download3:before {
  content: "\e9c7";
}
.ltcIcon-upload3:before {
  content: "\e9c8";
}
.ltcIcon-sphere:before {
  content: "\e9c9";
}
.ltcIcon-earth:before {
  content: "\e9ca";
}
.ltcIcon-link:before {
  content: "\e9cb";
}
.ltcIcon-flag:before {
  content: "\e9cc";
}
.ltcIcon-attachment:before {
  content: "\e9cd";
}
.ltcIcon-eye:before {
  content: "\e9ce";
}
.ltcIcon-eye-plus:before {
  content: "\e9cf";
}
.ltcIcon-eye-minus:before {
  content: "\e9d0";
}
.ltcIcon-eye-blocked:before {
  content: "\e9d1";
}
.ltcIcon-bookmark:before {
  content: "\e9d2";
}
.ltcIcon-bookmarks:before {
  content: "\e9d3";
}
.ltcIcon-sun:before {
  content: "\e9d4";
}
.ltcIcon-contrast:before {
  content: "\e9d5";
}
.ltcIcon-brightness-contrast:before {
  content: "\e9d6";
}
.ltcIcon-star-empty:before {
  content: "\e9d7";
}
.ltcIcon-star-half:before {
  content: "\e9d8";
}
.ltcIcon-star-full:before {
  content: "\e9d9";
}
.ltcIcon-heart:before {
  content: "\e9da";
}
.ltcIcon-heart-broken:before {
  content: "\e9db";
}
.ltcIcon-happy:before {
  content: "\e9df";
}
.ltcIcon-smile:before {
  content: "\e9e1";
}
.ltcIcon-tongue:before {
  content: "\e9e3";
}
.ltcIcon-sad:before {
  content: "\e9e5";
}
.ltcIcon-wink:before {
  content: "\e9e7";
}
.ltcIcon-grin:before {
  content: "\e9e9";
}
.ltcIcon-cool:before {
  content: "\e9eb";
}
.ltcIcon-angry:before {
  content: "\e9ed";
}
.ltcIcon-evil:before {
  content: "\e9ef";
}
.ltcIcon-shocked:before {
  content: "\e9f1";
}
.ltcIcon-baffled:before {
  content: "\e9f3";
}
.ltcIcon-confused:before {
  content: "\e9f5";
}
.ltcIcon-neutral:before {
  content: "\e9f7";
}
.ltcIcon-hipster:before {
  content: "\e9f9";
}
.ltcIcon-wondering:before {
  content: "\e9fb";
}
.ltcIcon-sleepy:before {
  content: "\e9fd";
}
.ltcIcon-frustrated:before {
  content: "\e9ff";
}
.ltcIcon-crying:before {
  content: "\ea01";
}
.ltcIcon-point-up:before {
  content: "\ea03";
}
.ltcIcon-point-right:before {
  content: "\ea04";
}
.ltcIcon-point-down:before {
  content: "\ea05";
}
.ltcIcon-point-left:before {
  content: "\ea06";
}
.ltcIcon-warning:before {
  content: "\ea07";
}
.ltcIcon-notification:before {
  content: "\ea08";
}
.ltcIcon-question:before {
  content: "\ea09";
}
.ltcIcon-plus:before {
  content: "\ea0a";
}
.ltcIcon-minus:before {
  content: "\ea0b";
}
.ltcIcon-info:before {
  content: "\ea0c";
}
.ltcIcon-cancel-circle:before {
  content: "\ea0d";
}
.ltcIcon-blocked:before {
  content: "\ea0e";
}
.ltcIcon-cross:before {
  content: "\ea0f";
}
.ltcIcon-checkmark:before {
  content: "\ea10";
}
.ltcIcon-spell-check:before {
  content: "\ea12";
}
.ltcIcon-enter:before {
  content: "\ea13";
}
.ltcIcon-exit:before {
  content: "\ea14";
}
.ltcIcon-play3:before {
  content: "\ea1c";
}
.ltcIcon-pause2:before {
  content: "\ea1d";
}
.ltcIcon-stop2:before {
  content: "\ea1e";
}
.ltcIcon-backward2:before {
  content: "\ea1f";
}
.ltcIcon-forward3:before {
  content: "\ea20";
}
.ltcIcon-first:before {
  content: "\ea21";
}
.ltcIcon-last:before {
  content: "\ea22";
}
.ltcIcon-previous2:before {
  content: "\ea23";
}
.ltcIcon-next2:before {
  content: "\ea24";
}
.ltcIcon-eject:before {
  content: "\ea25";
}
.ltcIcon-volume-high:before {
  content: "\ea26";
}
.ltcIcon-volume-medium:before {
  content: "\ea27";
}
.ltcIcon-volume-low:before {
  content: "\ea28";
}
.ltcIcon-volume-mute:before {
  content: "\ea29";
}
.ltcIcon-volume-mute2:before {
  content: "\ea2a";
}
.ltcIcon-volume-increase:before {
  content: "\ea2b";
}
.ltcIcon-volume-decrease:before {
  content: "\ea2c";
}
.ltcIcon-loop:before {
  content: "\ea2d";
}
.ltcIcon-loop2:before {
  content: "\ea2e";
}
.ltcIcon-infinite:before {
  content: "\ea2f";
}
.ltcIcon-shuffle:before {
  content: "\ea30";
}
.ltcIcon-arrow-up-left:before {
  content: "\ea31";
}
.ltcIcon-arrow-up:before {
  content: "\ea32";
}
.ltcIcon-arrow-up-right:before {
  content: "\ea33";
}
.ltcIcon-arrow-right:before {
  content: "\ea34";
}
.ltcIcon-arrow-down-right:before {
  content: "\ea35";
}
.ltcIcon-arrow-down:before {
  content: "\ea36";
}
.ltcIcon-arrow-down-left:before {
  content: "\ea37";
}
.ltcIcon-arrow-left:before {
  content: "\ea38";
}
.ltcIcon-arrow-up-left2:before {
  content: "\ea39";
}
.ltcIcon-arrow-up2:before {
  content: "\ea3a";
}
.ltcIcon-arrow-up-right2:before {
  content: "\ea3b";
}
.ltcIcon-arrow-right2:before {
  content: "\ea3c";
}
.ltcIcon-arrow-down-right2:before {
  content: "\ea3d";
}
.ltcIcon-arrow-down2:before {
  content: "\ea3e";
}
.ltcIcon-arrow-down-left2:before {
  content: "\ea3f";
}
.ltcIcon-arrow-left2:before {
  content: "\ea40";
}
.ltcIcon-circle-up:before {
  content: "\ea41";
}
.ltcIcon-circle-right:before {
  content: "\ea42";
}
.ltcIcon-circle-down:before {
  content: "\ea43";
}
.ltcIcon-circle-left:before {
  content: "\ea44";
}
.ltcIcon-tab:before {
  content: "\ea45";
}
.ltcIcon-checkbox-checked:before {
  content: "\ea52";
}
.ltcIcon-checkbox-unchecked:before {
  content: "\ea53";
}
.ltcIcon-radio-checked:before {
  content: "\ea54";
}
.ltcIcon-radio-checked2:before {
  content: "\ea55";
}
.ltcIcon-radio-unchecked:before {
  content: "\ea56";
}
.ltcIcon-make-group:before {
  content: "\ea58";
}
.ltcIcon-ungroup:before {
  content: "\ea59";
}
.ltcIcon-scissors:before {
  content: "\ea5a";
}
.ltcIcon-filter:before {
  content: "\ea5b";
}
.ltcIcon-font:before {
  content: "\ea5c";
}
.ltcIcon-ligature:before {
  content: "\ea5d";
}
.ltcIcon-ligature2:before {
  content: "\ea5e";
}
.ltcIcon-paragraph-left:before {
  content: "\ea77";
}
.ltcIcon-paragraph-center:before {
  content: "\ea78";
}
.ltcIcon-paragraph-right:before {
  content: "\ea79";
}
.ltcIcon-paragraph-justify:before {
  content: "\ea7a";
}
.ltcIcon-indent-increase:before {
  content: "\ea7b";
}
.ltcIcon-indent-decrease:before {
  content: "\ea7c";
}
.ltcIcon-share:before {
  content: "\ea7d";
}
.ltcIcon-new-tab:before {
  content: "\ea7e";
}
.ltcIcon-embed:before {
  content: "\ea7f";
}
.ltcIcon-embed2:before {
  content: "\ea80";
}
.ltcIcon-terminal:before {
  content: "\ea81";
}
.ltcIcon-share2:before {
  content: "\ea82";
}
.ltcIcon-amazon:before {
  content: "\ea87";
}
.ltcIcon-google:before {
  content: "\ea88";
}
.ltcIcon-google3:before {
  content: "\ea8a";
}
.ltcIcon-google-plus:before {
  content: "\ea8b";
}
.ltcIcon-hangouts:before {
  content: "\ea8e";
}
.ltcIcon-google-drive:before {
  content: "\ea8f";
}
.ltcIcon-facebook:before {
  content: "\ea90";
}
.ltcIcon-instagram:before {
  content: "\ea92";
}
.ltcIcon-whatsapp:before {
  content: "\ea93";
}
.ltcIcon-spotify:before {
  content: "\ea94";
}
.ltcIcon-telegram:before {
  content: "\ea95";
}
.ltcIcon-twitter:before {
  content: "\ea96";
}
.ltcIcon-vine:before {
  content: "\ea97";
}
.ltcIcon-vk:before {
  content: "\ea98";
}
.ltcIcon-renren:before {
  content: "\ea99";
}
.ltcIcon-sina-weibo:before {
  content: "\ea9a";
}
.ltcIcon-rss:before {
  content: "\ea9b";
}
.ltcIcon-youtube:before {
  content: "\ea9d";
}
.ltcIcon-vimeo:before {
  content: "\eaa0";
}
.ltcIcon-lanyrd:before {
  content: "\eaa2";
}
.ltcIcon-flickr:before {
  content: "\eaa3";
}
.ltcIcon-flickr2:before {
  content: "\eaa4";
}
.ltcIcon-flickr3:before {
  content: "\eaa5";
}
.ltcIcon-flickr4:before {
  content: "\eaa6";
}
.ltcIcon-dribbble:before {
  content: "\eaa7";
}
.ltcIcon-deviantart:before {
  content: "\eaaa";
}
.ltcIcon-onedrive:before {
  content: "\eaaf";
}
.ltcIcon-trello:before {
  content: "\eab3";
}
.ltcIcon-wordpress:before {
  content: "\eab4";
}
.ltcIcon-joomla:before {
  content: "\eab5";
}
.ltcIcon-ello:before {
  content: "\eab6";
}
.ltcIcon-blogger:before {
  content: "\eab7";
}
.ltcIcon-tumblr:before {
  content: "\eab9";
}
.ltcIcon-yahoo:before {
  content: "\eabb";
}
.ltcIcon-yahoo2:before {
  content: "\eabc";
}
.ltcIcon-android:before {
  content: "\eac0";
}
.ltcIcon-windows8:before {
  content: "\eac2";
}
.ltcIcon-soundcloud:before {
  content: "\eac3";
}
.ltcIcon-skype:before {
  content: "\eac5";
}
.ltcIcon-hackernews:before {
  content: "\eac7";
}
.ltcIcon-wikipedia:before {
  content: "\eac8";
}
.ltcIcon-linkedin2:before {
  content: "\eaca";
}
.ltcIcon-delicious:before {
  content: "\eacd";
}
.ltcIcon-stackoverflow:before {
  content: "\ead0";
}
.ltcIcon-pinterest:before {
  content: "\ead1";
}
.ltcIcon-xing2:before {
  content: "\ead4";
}
.ltcIcon-flattr:before {
  content: "\ead5";
}
.ltcIcon-foursquare:before {
  content: "\ead6";
}
.ltcIcon-yelp:before {
  content: "\ead7";
}
.ltcIcon-paypal:before {
  content: "\ead8";
}
.ltcIcon-chrome:before {
  content: "\ead9";
}
.ltcIcon-firefox:before {
  content: "\eada";
}
.ltcIcon-edge:before {
  content: "\eadc";
}
.ltcIcon-safari:before {
  content: "\eadd";
}
.ltcIcon-opera:before {
  content: "\eade";
}
.ltcIcon-file-pdf:before {
  content: "\eadf";
}
.ltcIcon-file-openoffice:before {
  content: "\eae0";
}
.ltcIcon-file-word:before {
  content: "\eae1";
}
.ltcIcon-file-excel:before {
  content: "\eae2";
}
.ltcIcon-libreoffice:before {
  content: "\eae3";
}
.ltcIcon-html-five:before {
  content: "\eae4";
}
.ltcIcon-html-five2:before {
  content: "\eae5";
}
.ltcIcon-css3:before {
  content: "\eae6";
}
.ltcIcon-git:before {
  content: "\eae7";
}
.ltcIcon-codepen:before {
  content: "\eae8";
}
.ltcIcon-svg:before {
  content: "\eae9";
}
.ltcIcon-IcoMoon:before {
  content: "\eaea";
}