/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : Jun 30, 2016, 8:20:15 AM
Author     : jaime
*/

.@{CPrefix}LayoutWrap{

    overflow: auto;
    border: 2px solid #f00;
    .flexProperties;
    &.tp_centered{
        height: 100%;
        width: 100%;
        position: fixed;
        .FlexJustContg;
        .FlexAlignItem;
    }
    &.tp_sheet{
        .FlexJustContg;
        .FlexDirec;
    }
    &.tp_justify{
        height: 100%;
        width: 100%;
        position: fixed;
        .FlexAlignItem(stretch);
    }
}
.@{CPrefix}LyI{
    /*    border: 1px solid #f00;*/
    .flexProperties(@fAlignItem:stretch);
    /*esto se soluciono solo hay que tener cuidado*/
    // &:not(.scroll){
    //     min-height: -webkit-min-content;
    // }
    &.shk_tabs{
        .@{CPrefix}LyI[aria-hidden*="false"],
        .@{CPrefix}LyI[aria-hidden*="true"]{
            display: -ms-flexbox !important;
            display: -webkit-flex !important;
            display: flex !important;
        }
    }
    &.shk_bhb{
        .animated;
        display: none;
        .shk_btn_c{
        }
        &:after{
        }
        &.open{
            display: initial;
        }
        &.aniOut{
            .fadeOutLeft;
        }
        &.aniIn{
            .fadeInDown;
        }
    }
    .@{CPrefix}LyCP{
        height: 100%;
        width: 100%;
        &.scrollOn{
            overflow: auto;
        }
    }
    &.centeredBouth{
        .flexProperties(@fJustCont:center;@fAlignCont:center;@fAlignItem:center);
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .@{CPrefix}LyCP{
            height: auto;
            width: auto;
        }
    }
}
.fixBoth{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
// .scroll{
//     overflow: auto;
// }
/*responsive*/
@media (min-width: 768px) {
    .@{CPrefix}LayoutWrap{
        .@{CPrefix}LyI{
            //min-height:inherit;
        }
        /*acomoda en columnas cada ltcLyIdentro de el portador de la clase*/
        .dpl_R{
            .FlexDirec;
            .@{CPrefix}LyI{
                /*hace que el ltcLyI portador ajuste su tamaño al ancho total y divide en arriba y abajo los ltcLyI anteriores y posteriores, en pantallas medianas*/
                &.sm{
                    flex-basis: 100%;
                }
            }
            /*reparte el ancho total en partes iguales para cada ltcLyI hijo*/
            &.LySW{
                .@{CPrefix}LyI{
                    flex: 1;
                }
            }
        }
    }
    .@{CPrefix}LyI{
        &.scroll{
            min-height: inherit;
            >*{
                overflow: auto;
            }
            .@{CPrefix}LyI{
                display: block;
            }
        }
        &.shk_bhb{
            position: relative;
            width: inherit;
            display: inherit;
            .shk_btn_c{
                display: none;
            }
        }
        .shk_control_area{
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .@{CPrefix}LayoutWrap{
        .dpl_R{
            .@{CPrefix}LyI{

                &.sm{
                    flex-basis: auto;
                }
            }
        }
    }
}

@media (min-width: 1200px) {

}
