/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6/07/2016, 10:32:52 AM
    Author     : Usuario
*/

// @media (min-width: 768px) {
//     .sz_s{
//         font-size: 0.5Rem;
//         input{
//             font-size: 0.5Rem;
//         }
//     }
// }
@media (min-width: 768px) {
    body{
        font-size: 0.8em;
    }
}

@media (min-width: 992px) {


}

@media (min-width: 1200px) {

}
/*----------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*    .ltcLayoutWrap{
            height: auto;
        }*/

    .shk_control_area{
        .shk_bhb_btn{
            display: inline-flex;
        }
    }
    //  .ltcLayoutWrap{
    //     &.tp_sheet{
    //         >.ltcLyI{
    //             flex: 1;
    //         }
    //     }
    //     &.tp_justify{
    //         position: inherit;
    //         height: inherit;
    //         width: inherit;
    //     }
    // }
    // .ltcLyI{
    //     width:inherit !important;
    //     &.dpl_R{
    //         .ltcFlexDirec(@fDir:column);
    //     }
    //     &.shk_bhb{
    //         position: absolute;
    //         background-color: #f00;
    //         top: 0;
    //         display: none;
    //         &:after{
    //         }
    //         &.open{
    //             display: initial;
    //         }
    //     }
    //     &.shk_tabs{
    //         .shk_tabs_btn{
    //             .flexDisplay(@fDis:flex);
    //         }
    //         .ltcLyI[aria-hidden*="true"]{
    //             display: none !important;
    //         }
    //     }
    // }
    .tp_dropdown{
        .dpl_block_v{
             flex: 1 1 100%;
            position: relative;
            left: auto !important;
            margin-left: 0 !important;
        }
    }

    // .ltcCWall{
    //     .ltcFlexDirec(@fDir:column);
    //     .ltcFlexwrap(@fWrap:nowrap);
    //     .CWCard{
    //         flex:0 0 100%;
    //     }
    // }
    // .tlcGroups{
    //     .ltcFlexDirec(@fDir:column);
    // }

}
/*@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}*/
