/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 18/07/2016, 07:08:55 AM
Author     : Usuario
*/
/*nombre del componente fake table*/
@ftmargin:1px;
//external border
@fteborder:1px;
@ftcell:#fff;
@fttitle:#BBB;
@ftlinecolor:#ccc;
/*define el border radius*/
@ftbr:0px;
@celldiffcolour:#efefef;

*[class^="ltc_fakeTable"]{
    background-color: @ftlinecolor;
    padding: @fteborder;
    .flexProperties(@fDir:row;@fAlignItem:stretch);
    .rw{
        .flexProperties(@fDir:row;@fAlignItem:stretch);
        .rw_tl{
            background-color: @fttitle;
            margin:0 @ftmargin @ftmargin 0;
            width: 2em;
            white-space: nowrap;
            .flexProperties(@fJustCont:center;@fAlignItem:center);
            span{
                -moz-transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
        .rw_bd{
            flex: 1;
            .flexProperties(@fDir:column;@fAlignItem:stretch);
        }
        .cell{
            flex: 1;
            //border-radius: @ftbr;
            .flexProperties(@fDir:row;@fWrap:wrap;@fAlignItem:center);
            background-color: @ftcell;
            margin-bottom: @ftmargin;
            padding: 0.3em;
            &::before{
                content:attr(title);
                background-color: #bbb;
                padding: 0 1em;
                width: 15%;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                font-size: 0.8em;
                border-radius: 2px;
                margin-right: 1em;
                text-overflow: ellipsis;
            }
        }
    }
    .tbl_header{
        display: none;
    }
    .tbl_body{
        .flexProperties(@fAlignItem:stretch);
        flex: 1;
    }
    &[class$="_row"]{
        .rw{
            &:nth-child(2n+2){
                .cell{
                    background-color: @celldiffcolour;
                }
            }
        }
    }
    &[class$="_col"]{
        .tbl_body{
            .rw{
                .cell{
                    &:nth-child(2n+2){
                        background-color: @celldiffcolour;
                    }
                }
            }
        }
    }
}
/*responsive*/
@media (min-width: 768px) {
    *[class^="ltc_fakeTable"]{
        .ltcFlexDirec(column);
        .rw{
            flex: 1;
            .rw_tl{
                display: none;
            }
            .cell{
                &::before{
                    display: none;
                }
            }
        }
        .tbl_header{
            display: block;
            &.rw{
                .flexProperties(@fDir:row;@fAlignItem:stretch);
                .cell{
                    background-color: @fttitle;
                }
            }
        }
        &[class$="_row"]{
            >.rw{
                &:first-child{
                    .cell{
                        margin-top:0;
                    }
                }
            }
            .rw{
                .cell{
                    margin:@ftmargin 0 0 @ftmargin;
                    &:first-child{
                        margin-left:0;
                    }
                }
            }
            .tbl_body{
                .ltcFlexDirec(column);
                .rw_bd{
                    .ltcFlexDirec(row);
                }
            }
        }
        &[class$="_col"]{
            >.rw{
                &:first-child{
                    .cell{
                        margin-top:0;
                        &:first-child{
                            margin-left:0;
                        }
                    }
                }
            }
            .rw{
                .cell{
                    margin:@ftmargin 0 0 @ftmargin;

                }

            }
            .tbl_body{
                .ltcFlexDirec(row);
                .rw{
                    .cell{
                        &:nth-child(2n+2){
                            background-color: @celldiffcolour;
                        }
                    }
                    &:first-child{
                        .cell{
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    *[class^="ltc_fakeTable"]{
        .rw{
            .cell{
                // &::before{
                //     display: none;
                // }
            }
        }
    }
}

@media (min-width: 1200px) {

}

.ltc_fakeTable{
    .tbl_body,
    .tbl_header{
        .rw{
            .ltcFlexAlignItem(@fAlignItem:stretch);
            .rw_tl{

            }
            .rw_bd{
                //    flex: 1;
            }
        }
    }
    /*ocultamos el titulo general para hacer visibles los titulos de cada celda*/

}
/*responsive*/
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
