/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
<<<<<<< HEAD
Created on : 6/07/2016, 09:29:22 AM
Author     : Usuario
=======
    Created on : 6/07/2016, 09:29:22 AM
    Author     : Usuario
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
*/
@import url('skin/default.less');

.header{
}
.leftSidebar{
}
.mainArea{

}
.footer{

}
/*Diseño de botones basicos*/
.ltcLink{
    &:hover,
    &.selected{
        border-bottom: 1px solid rgba(0,0,0,0.2);
<<<<<<< HEAD
        //    background-color: #f00;
=======
    //    background-color: #f00;
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
    }
}
.tp_ltcButton{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.2em;
    padding: (1em/4) 1em;
    &:hover,
    &.selected{
        background-color: rgba(0,0,0,0.2);
        text-decoration: none;
    }
}
/*end diseño de botones basicos*/
/*Diseño de grupo de botones basicos*/
.ltcButtonsGroup{
    // border: 1px solid rgba(0,0,0,0.2);
    .ltcLink{
        border-radius: 0;
        border-bottom: none;
        border-top: none;
        border-left: 1px solid rgba(0,0,0,0.3);
        border-right: none;
        //padding: (1em/2) 1em;
        text-decoration: none;
        &:hover,
        &.selected{
            //-color: rgba(0,0,0,0.2);
            //text-decoration: underline;
        }
        &:first-child{
            border-left: none;
        }
    }
    /*Diseño de listas de botones*/
    &.dpl_block_v{
        .ltcLink{
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,0.3);
            border-left: none;
            &:first-child{
                border-top: none;
            }
        }
    }
    /*Diseño de botones tabs*/
    &.tp_tab{
        padding-left: 1em;
        .ltcLink{
            border-radius: 0;
            border-bottom: 1px solid rgba(0,0,0,0.3);
            border-left: none;
            padding: (1em/2) 1em;
            &.selected,
            &.active,
            &.ui-state-active{
                border-bottom: none;
                border-top: 1px solid rgba(0,0,0,0.3);
                border-left: 1px solid rgba(0,0,0,0.3);
                border-right: 1px solid rgba(0,0,0,0.3);
            }
        }
    }
    &.tp_list{
        .ltcLink{
            border-radius: 0;
            padding: 0 1em;
            border-left: 1px solid rgba(0,0,0,0.3);
            &:first-child{
                border-left: none;
            }
            &.selected,
            &.ui-state-active{
                border-bottom: none;
            }
        }
    }
}
/* botones dropdown*/
.tp_dropdown{

}
/* botones con alineación diferente*/
.tp_ltcButton{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.2em;
    padding: (1em/4) 1em;
    &:hover,
<<<<<<< HEAD
    &.selected{
=======
        &.selected{
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
        background-color: rgba(0,0,0,0.2);
        text-decoration: none;
    }
}
/* formularios*/
.ltcFormgrup{
<<<<<<< HEAD
    .ltcFormItem{
        //    margin-bottom: 1em;
    }
=======
  .ltcFormItem{
//    margin-bottom: 1em;
  }
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
}
/*fija un valor basico para los radios en las esquinas de los elementos de formularios*/
@form_radius:3px;
.ltcFormItem{
    input[type="text"],
    button,
    select,
    textarea,
    .ltcInputComplement{
        background-color: rgba(0,0,0,0.1);
<<<<<<< HEAD
        padding: 0 1rem/2;
=======
        padding: 1rem/4 1rem/2;
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
        border: none;
    }
    >input[type="text"],
    >button,
    >textarea,
    >select{
        border-radius: @form_radius;
    }
<<<<<<< HEAD
    /*redondea los bordes del primer y ultimo elemento dentro de un mix de formulario*/
    .tp_buttonMix,
    .tp_radio,
    .tp_check{
        *{
=======
    .tp_buttonMix{
        input[type="text"],
        button,
        select,
        .ltcInputComplement{
            //border-left: 1px solid rgba(0,0,0,0.2);
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
            margin-left: 1px;
            &:first-child{
                border-top-left-radius: @form_radius;
                border-bottom-left-radius: @form_radius;
                margin-left: 0;
            }
        }
<<<<<<< HEAD
        *{
=======
        input[type="text"],
        button,
        select,
        .ltcInputComplement{
>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
            &:last-child{
                border-top-right-radius: @form_radius;
                border-bottom-right-radius: @form_radius;
            }
        }
<<<<<<< HEAD
        label{
            &:nth-of-type(1){
                border-top-left-radius: @form_radius;
                border-bottom-left-radius: @form_radius;
                margin-left: 0;
            }
        }
=======

>>>>>>> 584f12f8a6325e1b6a108da073e40706f56a2400
    }
}
/*end Diseño de grupo de botones basicos*/
/*card wall cofiguration*/
/*set a space betwin each card*/
@CWall_p:1em;
